.font-white
	color white !important
	
.font-black
	color black !important
	
.font-lightgreen
	color lightgreen !important
	
.font-darkgreen
	color darkgreen !important
	
.font-bold
	font-weight bold !important
	
.font-normal
	font-weight normal !important
	
.ttu
	text-transform uppercase !important
	
.tdu
	text-decoration underline !important
	
.ttn
	text-transform none !important
	
.tac
	text-align center !important
	
.tal
	text-align left !important
	
.taj
	text-align justify !important
	
.tar
	text-align right !important
	
.center
	margin 0 auto !important
	
.clear
	clear both !important
	
.fl
	float left !important
	
.fr
	float right !important