//****Colors
lightgreen = #95c12b
darkgreen = #00705f
lightgray = #7e7c73
darkgray = #333333
black = #000700

//****Styles
outline = 2px solid #48be2a
border = 2px solid #48be2a
animation = all .5s ease


//****Mixins
media(maxWidth)
    @media screen and (max-width: maxWidth)
        {block}
size(width, height)
	width width
	height height
